@media(max-width: 1200px){
  .banner{
    &__section-inner{
      justify-content: space-around;
    }
    &__section-slider{
      max-width: 600px;
    }
    &__section-slider-img{
      min-height: 380px;
      max-width: 600px;
    }
  }
  .categories{
    &__inner{
      justify-content: space-around;
    }
  }
}

@media(max-width: 1100px) {
  .header{
    &__adress{
      margin-right: 20px;
    }
  }
  .menu{
    &__item {
      &+.menu__item {
        padding-left: 20px;
      }
    }
  }
  
}

@media(max-width: 968px) {
  .header{
    &__bottom{
      display: none;
    }
  }  

  .menu{
    &__btn{
      display: block;
      border-right-color: transparent;
      cursor: pointer;
      border: none;
      padding: 0;
      &-line{
        background: $gray;
        border-radius: 3px;
        width: 34px;
        height: 3px;
        margin: 8px 0;
      }
    }
    &__list{
      display: none;
    }
    &__mobile-linewrapper{
      display: block;
      background-color: #F0F0F4;
      overflow-x: scroll;
    }
    &__mobile-line {
      padding: 14px 0 14px 15px;      
      width: 450px;
    }
  }

  .banner{
    &__section-inner{
      margin-top: 25px;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__section-slider {
     max-width: 100%;
    }
    &__section-slider-img {
      max-width: 100%;
      margin-bottom: 25px;
    }
    &__section-slider-item{
      text-align: center;
    }
  }

  .search{
    &__inner{
      overflow-x: scroll;
    }
    &__tabs{
      width: 1000px;      
    }
  }
  
}

@media(max-width: 640px) {
  .header {
    &__adress {
      display: none;
    }
  }
  .banner{
    &__section .container{
      padding: 0;
    }
    &__section-slider-img {
      min-height: 200px;
    }
  }
  .search{
    &__content-form{
      position: relative;
    }
    &__content-input{
      height: 50px;
      padding-right: 50px;
    }
    &__content-btn{
      position: absolute;
      font-size: 0;
      line-height: 0;
      background-color: transparent;
      background-image: url(../images/search-1.svg);
      background-repeat: no-repeat;
      padding: 17px;
      width: 24px;
      height: 24px;
      right: 8px;
      top: 13px;
    }
  }
}

@media(max-width: 440px) {
  .banner {
    &__section-slider-img {
      min-height: 164x;
    }    
  }
  .categories {
    &__item {
      padding: 20px 10px 16px;
    }
  }
}