@media(max-width: 1300px){
  .products{
    &__more{
      margin-top: 60px;
    }
  }
}

@media(max-width: 1200px){
  .banner{
    &__section-inner{
      justify-content: space-around;
    }
    &__section-slider{
      max-width: 600px;
    }
    &__section-slider-img{
      min-height: 380px;
      max-width: 600px;
    }
  }
  .categories{
    &__inner{
      justify-content: space-around;
    }
  }
  .banner{
    &__link img{
      width: 100%;
    }
  }
  .catalog{
    &__inner-list{
      justify-content: space-around;
    }
  }
}

@media(max-width: 1100px) {
  .header{
    &__adress{
      margin-right: 20px;
    }
  }
  .menu{
    &__item {
      &+.menu__item {
        padding-left: 20px;
      }
    }
  }
  .card{
    &__label-search{
      margin-right: 0;
    }
  }
  
}

@media(max-width: 968px) {
  .header{
    &__bottom{
      display: none;
    }
  }  

  .menu{
    &__btn{
      display: block;
      border-right-color: transparent;
      cursor: pointer;
      border: none;
      padding: 0;
      &-line{
        background: $gray;
        border-radius: 3px;
        width: 34px;
        height: 3px;
        margin: 8px 0;
      }
    }
    &__list{
      display: none;
    }
    &__mobile-linewrapper{
      display: block;
      background-color: #F0F0F4;
      overflow-x: scroll;
    }
    &__mobile-line {
      padding: 14px 0 14px 15px;      
      width: 450px;
    }
  }

  .banner{
    &__section-inner{
      margin-top: 25px;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__section-slider {
     max-width: 100%;
    }
    &__section-slider-img {
      max-width: 100%;
      margin-bottom: 25px;
    }
    &__section-slider-item{
      text-align: center;
    }
  }
  
  .catalog{
    &__filter-itemsinner{
      overflow-x: scroll;
    }
    &__filter-items{
      width: 1000px;
    }
  }
  .product{
    &__card-inner{
      flex-wrap: wrap;
    }
    &__card-img-box{
      width: 100%;
    }
    &__card-tabs{
      display: none;
    }
    &__card-content{
      order: -1;
    }
    &__card-btnmobile{
      display: block;
      margin-top: 40px;
    }
  }
}

@media(max-width: 940px){
  .footer {
    &__top-inner {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__top-item{
      margin-bottom: 25px;
    }
  }
  .catalog{
    &__filter{
      display: block;
    }
    &__filter-btn{
      margin-top: 30px;
    }
    &__filter-btn button{
      display: none;
    }
  }

  .tabs{
    &__overflow{
      overflow-x: scroll;
    }
    &__mobile{
      width: 1000px;
    }
  }
}

@media(max-width: 640px) {
  .header {
    &__adress {
      display: none;
    }
  }
  .banner{
    &__section .container{
      padding: 0;
    }
    &__section-slider-img {
      min-height: 200px;
    }
  }
  .search{
    &__content-form{
      position: relative;
    }
    &__content-input{
      height: 50px;
      padding-right: 50px;
    }
    &__content-btn{
      position: absolute;
      font-size: 0;
      line-height: 0;
      background-color: transparent;
      background-image: url(../images/search-1.svg);
      background-repeat: no-repeat;
      padding: 17px;
      width: 24px;
      height: 24px;
      right: 8px;
      top: 13px;
    }
  }
  .banner {
    &__link{
      width: 100%;
    }
    &__link-imgdecktop {
      display: none;
    }
    &__link-imgmobile{
      display: block;
      background-size: cover;
    }
  }
  .catalog{
    &__inner{
      flex-wrap: wrap;
    }
  }
  .aside {
    &__btn {
      display: block;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      padding: 15px 0 50px;
      width: 100%;
    }
    &__filter {
      display: none;
    }
  }
  .product{
    &__card-img{
      width: 100%;
    }
    &__card-title{
      font-size: 20px;
      line-height: 24px;
    }
    &__card-buttons a+a{
      margin-left: 10px;
    }
  }  
}

@media(max-width: 540px){
  .footer{
    &__top-inner{
      justify-content: start;
    }
    &__top-item{
      width: 100%;
      border-bottom: 2px solid #F9F9FC;
    }
    &__top-itemdrop{
      margin-bottom: 0;
      border-top: 2px solid #F9F9FC;
    }
    &__top-newslatter{
      &.footer__top-item{
        margin-right: auto;
        margin-left: auto;
        width: 280px;
        text-align: center; 
      }      
    }
    &__bottom{
      flex-direction: column;
      align-items: start;
    }
    &__bottom-link{
      margin: 12px 0;
      &+.footer__bottom-link{
        margin-left: 0;
      }
    }
    &__top-title.footer-title{
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #7F7F7F;
      padding: 15px 0;
      position: relative;
      pointer-events: auto;
      &::after{
        content: '';
        position: absolute;
        background-image: url(../images/arrow-down.svg);
        right: 0;
        top: 21px;
        width: 12px;
        height: 8px;
      }
      &--active::after{
        transform: rotate(180deg);
      }      
    }
    &__top-social {
      &.footer__top-item {
        width: 100%;
        border: none;
      }
    }
    &__list{
      display: none;
    }
  }
  .social__list{
    justify-content: center;
  }
}

@media(max-width: 440px) {
  .banner {
    &__section-slider-img {
      min-height: 164x;
    }    
  }
  .categories {
    &__item {
      padding: 20px 10px 16px;
    }
  }

  .pagination{
    &__item{
      margin: 0;
    }
  }
}