@import"vars";
@import"libs";
@import"fonts";
@import"global";

.header{
  &__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 122px;
    @extend %sf-bold;
  }
  &__box{
    display: flex;
  }
  &__adress{
    margin-right: 60px;
    width: 265px;
    padding-left: 30px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url(../images/adress-icon.svg);
      width: 30px;
      height: 30px;
      left: 0;
      top: -10px;
    }
  }
  &__bottom{
    margin-bottom: 80px;
  }
}

.menu{
  &__btn{
    display: none;
  }
  &__item{
    display: inline-block;
    & + .menu__item {
      padding-left: 50px;
    }
  }
  &__categories{
    background-color: #F0F0F4;
    display: flex;
    justify-content: space-around;
    min-height: 53px;
    align-items: center;
  }

  &__categories-link{
    transition: all .3s;
    cursor: pointer;
    padding: 15px 0 14px;
    position: relative;
    &::before{
      content: '';
      width: 0;
      height: 3px;
      left: auto;
      right: 0;
      bottom: -2px;
      position: absolute;
      background-color: $blue;
      transition: all .3s;
      
    }   
    &:hover{
      color: #000;
      &::before{
        width: 100%;
        right: auto;
        left: 0;
      }
    }
  }
  &__mobile-list{
    width: 243px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .15);
  }
  &__mobile-item{
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }
  &__modile-link{
    display: block;
    padding-left: 53px;
    padding-top: 36px;
  }
  &__modile-img{
    position: absolute;
    left: 11px;
    bottom: 0;
  }
}

.user{
  &__list{
    display: flex;
    margin-right: 15px;
    align-items: center;
  }
  &__list-item{
    padding-right: 10px;
  }
}

.basket{
  position: relative;
  &__num{
    position: absolute;
    @extend %sf-medium;
    font-size: 10px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: $blue;
    border-radius: 50%;
    text-align: center;
    bottom: -2px;
    right: -13px;
  }
}

.banner{
  &__section-inner{
    display: flex;
    justify-content: space-between;
  }
  &__section-slider{
    max-width: 870px;
    & .slick-active button{
      background-color: #fff;
    }
  }
  &__section-slider-img{
    object-fit: cover;
    min-height: 400px;
  }
  &__section-slider-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 3;
    outline: none;   
  }  
  &__section-slider-btnprev{
    left: 20px;
  }
  &__section-slider-btnnext{
    right: 20px;
  }
}

.slick{
  &-dots{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
  }
  &-dots li {
    display: inline-block;
    padding: 0 5px;
  }
  &-dots button {
    padding: 0;
    font-size: 0;
    margin: 0;
    width: 11px;
    height: 11px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;  
  }
  &-slide img{
    display: inline;
  }
}

.sale{
  &__item{
    max-width: 265px;
    text-align: center;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__item-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__item-info{
    color: #fff;
    background-color: $blue;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    padding: 8px 20px;
  }
  &__item-price{
    text-align: right;
  }
  &__item-price-new{
    @extend %barlow-bold;
    color: $blue;
    font-size: 27px;
    line-height: 32px;
    margin-right: 6px;
    padding-right: 20px;
    position: relative;
    &::after{
      content: '';
      background-image: url(../images/icons-price.svg);
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      top: 8px;
      width: 18px;
      height: 18px;
    }
  }
  &__item-price-old{
    @extend %barlow-regular;
    color: #C4C4C4;
    font-size: 14px;
    line-height: 17px;
    margin-right: 15px;
    display: inline-block;
    background-image: url(../images/old-line.svg);
    background-repeat: no-repeat;
    padding: 2px 5px;
    position: relative;
    &::after{
      content: '';
      background-image: url(../images/icons-price-old.svg);
      background-repeat: no-repeat;
      position: absolute;
      right: -10px;
      top: 6px;
      width: 8px;
      height: 10px;
    }
  }
  &__item-img{
    object-fit: contain;
  }
  &__item-title{
    @extend %sf-bold;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
  }
  &__item-footer{
    background-color: #F0F0F4;
    border-radius: 3px;
    padding: 25px 20px;
    font-size: 18px;
    line-height: 21px;    
  }
  &__item-footer span{
    @extend %barlow-bold;
    display: block;
    color: $blue;
  }
}

.search{
  &__tabs{
    margin-bottom: 25px;
  }
  &__tabs-item{
    padding: 11px 26px 12px;
  }
  &__content-item{
    display: none;
    
  }
  &__content-form{
    display: flex;
    
  }
  &__content-input{
    background-color: #F0F0F4;
    border-radius: 3px;
    font-size: 16px;
    line-height: 19px;    
    border: none;
    padding: 5px 20px;
    outline: none;
    width: 100%;
    &::placeholder{
      color: #656464;
    }
  }
  &__content-btn{
    @extend %sf-bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    background-color: $blue;
    color: #fff;
    padding: 17px 41px;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: -3px;
  }
}

.tab--active {
  border-radius: 5px;
  background-color: #F0F0F4;
  @extend %sf-bold;
}

.tabs__content{
  display: none;
}

.tabs__content.tabs__content--active {
  display: block;
}

.categories{
  &__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item{
    margin-bottom: 30px;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    width: 370px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 16px;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
      border: none;
      & .categories__item-title{
        color: $blue;
      }
    }
  }
  &__item-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__item-title{
    @extend %barlow-bold;
    font-size: 23px;
    line-height: 28px;
    color: $gray;
    transition: all .3s;
  }
  &__item-text{
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
    &::after{
      content: url(../images/link-arrow.svg);
      padding-left: 3px;

    }
  }
  &__item-img{
    text-align: center;
    width: 50%;
    & img{
      max-width: 100%;
    }
  }
}

.products{
  margin-bottom: 80px;
  &__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 3;
    outline: none;
  }
  &__slider-btnprev{
    left: -20px;
  }
  &__slider-btnnext{
    right: -20px;
  }
  &__title{
    font-size: 25px;
    line-height: 30px;
    color: $gray;
    @extend %barlow-bold;
    margin-bottom: 25px;
  }
  &__item{
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    text-align: center;
    padding: 52px 20px 31px;
    min-height: 400px;
    width: 100%;
    transition: all .3s;  
    &:hover{
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
      border-radius: 3px;
      border: none;
      & .products__item-hover-text{
        opacity: 1;
      }
      & .products__item-title,
      .products__item-price{
        color: $blue;
      }
    }
    &--sale{
      &::before{
        content: 'SALE';
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.07em;
        color: #fff;
        padding: 8px 15px;
        background-color: $blue;
        position: absolute;
        top: 0;
        left: 0;
        text-transform: uppercase;
      }
    }    
  }
  &__item-wrapper{
    position: relative;
    width: 271px;
    transition: all .3s;
    &.products__item-wrapper--list{
      width: 100%;
    }
    &.products__item-not-available .products__item-price {
      display: none;
    }
    &.products__item-not-available .products__item-basket {
      display: none;
    }
    &.products__item-not-available .products__items-notify-link {
      display: block;
      position: absolute;
      bottom: 20px;
      color: $blue;
      left: 0;
      right: 0;
      text-align: center;      
    }
    &.products__item-not-available .products__items-notify-link span {
      border-bottom: 1px solid $blue;
    }
    &.products__item-not-available .products__item-title{
      padding-bottom: 13px;
    }
    &.products__item-not-available .products__items-notify-text{
      display: block;
    }
  }
  &__tabs{
    margin-bottom: 25px;
  }
  &__tab{
    font-size: 15px;
    line-height: 18px;
    color: $gray;
    padding-bottom: 10px;
    &+.products__tab{
      margin-left: 50px;
    }
    &.tab--active{
      border-bottom: 2px solid $blue;
      border-radius: 0;
      background-color: transparent;
    }
  }
  &__items-notify-link{
    display: none;
    font-size: 16px;
    line-height: 19px;
  }
  &__items-notify-text{
    display: none;
    font-size: 18px;
    line-height: 21px;
    color: $gray;
    @extend %sf-bold;
  }
  &__item-favorite{
    position: absolute;
    top: 16px;
    right: 19px;
    width: 24px;
    height: 22px;
    background-color: transparent;
    border: none;
    z-index: 5;
    cursor: pointer;
    outline: none;
    &::before{
      content: '';
      position: absolute;
      width: 24px;
      height: 22px;
      top: 0;
      left: 0;
      background-image: url(../images/favorite.svg);
    }
  }
  &__item-favorite--active{
    &::before{
      background-image: url(../images/favorite-active.svg);
    }
  }
  &__item-basket{
    position: absolute;
    width: 60px;
    height: 40px;
    background-color: $blue;
    border-radius: 10px 0px 0px 0px;
    border: none;
    bottom: 0;
    right: 0;
    cursor: pointer;
    padding-top: 7px;    
  }
  &__item-title{
    color: $gray;
    padding: 14px 0 25px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
  }
  &__item-price{
    @extend %barlow-bold;
    font-size: 30px;
    line-height: 36px;
    color: $gray;
  }
  &__item-hover-text{
    font-size: 20px;
    line-height: 24px;
    padding: 18px 22px;
    background-color: rgba(#FFFFFF, .9);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    position: absolute;
    display: inline-block;
    top: 30%;
    opacity: 0;
    transition: all .3s;
    color: $gray;
  }
  &__more{
    text-align: center;
    margin: 30px 0 0;
    &-link{
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      padding: 17px 43px;
      background: #F0F0F4;
    }
  }
}

.banner{
  margin-bottom: 80px;
}

.footer{
  background-color: #F0F0F4;
  &__top{
    padding-top: 43px;
  }
  &__top-inner{
    display: flex;
    justify-content: space-between;
  }
  &__top-newslatter{
    &.footer__top-item{
      width: 295px;
      margin-right: 50px;
    }    
  }
  &__top-item{
    width: 200px;
  }
  &__form{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  &__form-input{
    background-color: #fff;
    border: none;
    padding: 0 12px;
    font-size: 14px;
    line-height: 17px;
    &::placeholder{
      
      color: #C4C4C4;
    }
  }
  &__form-btn{
    text-transform: uppercase;
    padding: 10px 16px;
    border: none;
    background-color: $blue;
    font-size: 11px;
    line-height: 13px;
    @extend %sf-medium;
    letter-spacing: 0.12em;
    color: #fff;
  }
  &__top-title{
    @extend %sf-bold;
    font-size: 14px;
    line-height: 17px;
    color: #2F3035;
  }
  &__list{
    font-size: 14px;
    line-height: 22px;
    color: #2F3035;
  }
  &__bottom{
    padding: 46px 0 22px;
    display: flex;
    justify-content: center;
  }
  &__bottom-link{
    font-size: 10px;
    line-height: 12px;
    color: #48494D;
    & + .footer__bottom-link{
      margin-left: 80px;
    }
  }
  &__top-social{
    &.footer__top-item{
      width: 250px;
    }
  }
}

.social{
  &__list{
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__list-item{
    &+ .social__list-item{
      margin-left: 30px;
    }
  }
}

.breadcrumbs{
  margin-bottom: 40px;
  &__list-item{
    display: inline-block;
    padding-right: 16px;
    margin-right: 10px;
    font-size: 15px;
    line-height: 18px;
    color: #C4C4C4;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      right: 0;
      bottom: 5px;
      background-image: url(../images/link-arrow.svg);
      background-repeat: no-repeat;
      width: 6px;
      height: 9px;
    }
    &:last-child::after{
      display: none;
    }
  }
}

.catalog{
  margin-bottom: 100px;
  &__title{
    @extend %sf-bold;
    color: $gray;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 26px;
  }
  &__filter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__filter-items{
    & button{
      font-size: 14px;
      line-height: 17px;
      color: $gray;
      opacity: 0.7;
      background: #F0F0F4;
      border-radius: 3px;
      border: none;
      padding: 5px 22px;
      cursor: pointer;
      & + button{
        margin-left: 8px;
      }
    }
  }
  &__filter-btn{
    display: flex;
    align-items: center;
    & button{
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin: 0;
      padding: 0;
      & + button{
        margin-left: 10px;
      }
    }
  }
  &__filter-btngrid{
    width: 26px;
    height: 21px;
  }
  &__filter-btnline{
    width: 25px;
    height: 19px;
  }
  &__filter-button {
    opacity: .3;
    outline: none;
    &--active{
      opacity: 1;
    }
  }
  &__inner{
    display: flex;
  }
  &__inner-aside{
    min-width: 290px;
    margin-right: 10px;
  }
  &__inner-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & .products__item-wrapper{
      margin-bottom: 30px;
    }
    & .products__item-img{
      width: 100%;
    }
  }
}

.select{
  &-item{
    border: 1px solid #D7D9DF;
    font-size: 14px;
    line-height: 17px;
    color: $gray;
    margin-right: 34px;
    padding: 7px 10px 7px 20px;
  }
}

.aside{
  &__filter-tabs{
    display: flex;
    justify-content: space-between;    
  }
  &__filter-tab{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #C4C4C4;
    width: 50%;
    @extend %sf-regular;
    &.tab--active{
      color: #2F3035;
      background-color: transparent;      
      & span{
        display: inline-block;
        border-bottom: 2px solid $blue;
        padding-bottom: 7px;
      }
    }
  }  
  &__filter-item-drop{
    margin: 40px 0;
  }
  &__filter-item-list{
    margin: 80px 0 40px;
  }
  &__filter-item-title{
    @extend %sf-semibold;
    font-size: 16px;
    line-height: 19px;
    color: $gray;
    padding-left: 26px;
  }
  &__filter-item-btn{
    text-align: center;
  }
  &__filter-content{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    &.aside__filter-content-radio{
      flex-wrap: nowrap;
    }
    &-search{
      width: 100%;
      height: 30px;
      border: 1px solid #E0E0E0;
      margin: 10px 0 20px;
      padding: 0 20px;
      font-size: 12px;
      line-height: 14px;
      outline: none;
      &::placeholder{        
        color: #BDBEC2;
      }
    }
    &-box{
      width: 50%;
      margin-bottom: 10px;
    }
    &-label{
      font-size: 14px;
      line-height: 17px;
      color: $gray;
    }
    &-more{
      width: 100%;
    }
    &-more-btn{
      @extend %sf-regular;
      font-size: 14px;
      line-height: 17px;
      color: $blue;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $blue;
      padding: 0;
      cursor: pointer;
    }
  }
}

.filter{
  &-style.jq-checkbox,
  &-style.jq-radio {
    width: 14px;
    height: 14px;
    border: 1px solid #C4C4C4;
    background: #fff;
    border-radius: 1px;
    box-shadow: none;
    vertical-align: -1px;
    margin: 0 8px 0 0;
  }
  &-style.checked{
    background: $blue;
    border: none;
    & .jq-checkbox__div{
      width: 8px;
      height: 6px;
      margin: 4px 0 0 3px;
      border-bottom: none;
      border-left: none;
      transform: rotate(0);
      background-image: url(../images/checked-icon.svg);
    }
    & .jq-radio__div{
      width: 0;
      height: 0;
      margin: 0;
      border-radius: 0;
      background: transparent;
      box-shadow: none;
    }
  }  
  &__item-drop{
    position: relative;
    cursor: pointer;
    &::before{
      content: '';
      position: absolute;
      background-image: url(../images/arrow-down.svg);
      background-repeat: no-repeat;
      left: 0;
      bottom: 5px;
      width: 12px;
      height: 8px;
      transform: rotate(0deg);
    }
    &--active{
      &::before{
        transform: rotate(180deg);
      }
    }
  }
  &__item-list{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #C4C4C4;
    margin-top: 34px;
  }
  &__item-listtitle{
    @extend %sf-semibold;
    font-size: 16px;
    line-height: 19px;
    color: $gray;
    padding-bottom: 14px;
    padding-left: 26px;
  }
  &__btn{    
    &-send{
      background: #F0F0F4;
      padding: 17px 85px;
      text-transform: uppercase;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.12em;
      color: #BDBEC2;
      border: none;
      cursor: pointer;
      margin-bottom: 15px;
      &--active{
        background: $blue;
        color: #fff;
      }
    }
    &-reset{
      cursor: pointer;
      display: inline-block;
      font-size: 13px;
      line-height: 16px;
      color: #C4C4C4;
      border: none;
      border-bottom: 1px solid #C4C4C4;
      background: transparent;
      padding: 0;
    }
  }
  &__extra{
    font-size: 13px;
    line-height: 16px;
    color: $gray;
    position: relative;
    padding-right: 29px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 15px;
    &.filter__item-drop--active{
      &::after{
        transform: rotate(180deg);
      }
    }
    &::after{
      content: '';
      position: absolute;
      right: 0;
      top: 4px;
      background-image: url(../images/arrow-down.svg);
      width: 12px;
      height: 8px;
    }
    &-content{
      display: none;
      margin-bottom: 15px;
    }
  }
}

.jq-selectbox{
  & li{
    color: rgba(0, 0, 0, 0.6);
  }
  & li:hover,
  & li.selected{
    background: rgba(187, 126, 172, 0.05);
    color: rgba(0, 0, 0, 0.6);
  }
  &.focused
  &__select{
    border: none;
  }
  &__select {
    @extend %barlow-regular;
    font-size: 14px;
    line-height: 17px;
    color: #48494D;
    height: 20px;
    padding: 0 25px 0 10px;
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    
    &:hover,
    &:active{
      background: transparent;
      box-shadow: none;
    }
  }
  &__trigger{
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    top: 6px;
    right: 9px;
    width: 12px;
    height: 8px;
    border: none;
  }
  &__trigger-arrow{
    position: absolute;
    top: 14px;
    right: 12px;
    width: 0;
    height: 0;
    border: none;    
  }
  &__dropdown{
    border-radius: 0;
    padding-top: 15px;
  }
}

.irs{
  &--flat{
    width: 100%;
    margin-top: -15px;
    & .irs{
      &-min,
      &-max{
        top: 55px;
        padding: 0;
        color: $gray;
        font-size: 10px;
        line-height: 1.333;
        text-shadow: none;
        background-color: transparent;
        border-radius: none;
        @extend %barlow-regular;
        font-size: 14px;
        line-height: 17px;
        text-decoration: underline;
        visibility: visible !important;
        padding-left: 27px;
        &::before{
          position: absolute;
          left: 0;
          @extend %sf-regular;
          padding-right: 12px;
          font-size: 14px;
          line-height: 17px;
          color: #C4C4C4;
          text-decoration-line: none;
        }
      }
      &-min{
        &::before{
          content: 'от';
        }
      }
      &-max{
        &::before{
          content: 'до';
        }
      }
      &-from,
      &-to{
        display: none;
      }
      &-line{
        top: 25px;
        height: 1px;
        background-color: #E0E0E0;
        border-radius: 0;
      }
      &-bar{
        top: 25px;
        height: 3px;
        background-color: $blue;
      }
      &-handle{
        top: 22px;
        width: 8px;
        height: 8px;
        background-color: $blue;
        border-radius: 50%;
      }
      &-handle{
        &>i:first-child,
        &.state_hover>i:first-child {
        background-color: transparent;
        }
      }
    }
  }   
}

.btn__checked{
  &-text{
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-57%);
    z-index: 5;
    @extend %sf-bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #C4C4C4;
  }
  & .aside__filter-content{
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  & .aside__filter-content-box{
    width: auto;
  }
  & .aside__filter-content-label{
    position: relative;    
    height: 25px;
    width: 63px;
    @extend %sf-bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    color: #C4C4C4;
  }
  & .jq-checkbox{
    height: 25px;
    width: 63px;
    background: #F0F0F4;
    border: none;
    &.checked{
      background: $blue;
      &~.btn__checked-text{
        color: #fff;
      }
      & .jq-checkbox__div{
        display: none;
      }
    }
  }
}

.pagination{
  width: 100%;
  margin-top: 70px;
  &__list{
    display: flex;
    justify-content: center;
  }
  &__item{
    padding: 5px 14px;    
    font-size: 18px;
    line-height: 22px;
    border: 2px solid transparent;
    @extend %barlow-regular;
    margin: 0 4px;
    &.active{
      border: 2px solid $blue;
      color: $blue;
      @extend %barlow-semibold;
    }
    & a{
      display: block;
    }    
  }
}

.product{
  &__card{
    margin-bottom: 80px;
  }
  &__card-inner{
    display: flex;
    justify-content: space-between;
  }
  &__card-img-box{
    width: 500px;
    padding-top: 64px;
    text-align: center;
    position: relative;
    &::before{
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.12em;
      padding: 13px 26px;
      border-radius: 3px;
    }
  }  
  &__card-old{
    display: inline-block;
    @extend %barlow-regular;
    font-size: 30px;
    line-height: 44px;
    color: rgba($gray, .6);
    background-image: url(../images/old-line.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__card-new{
    @extend %barlow-bold;
    font-size: 40px;
    line-height: 48px;
    color: $gray;
    margin-bottom: 17px;
  }
  &__card-link{
    font-size: 15px;
    line-height: 18px;
    color: $blue;
    border-bottom: 1px solid $blue;
  }
  &__card-content{
    width: 570px;
  }  
  &__card-title{
    @extend %sf-bold;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  &__card-code{
    font-size: 15px;
    line-height: 18px;
    color: rgba($gray, .6);
    margin-bottom: 22px;
  }
  &__card-buttons{
    margin-bottom: 50px;
  }
  &__card-buttons a{
    &+ a{
      margin-left: 30px;
    }
  }
  &__card-tab{
    font-size: 20px;
    line-height: 24px;
    color: rgba($gray, .6);
    padding-right: 17px;
    margin-bottom: 5px;
    & + .product__card-tab{
      padding-left: 17px;
    }
    &.tab--active {
      @extend %sf-bold;
      color: rgba($gray, 1);
      background-color: transparent;
      border-bottom: 2px solid $blue;
      border-radius: 0;
      padding-bottom: 5px;
    }
  }
  &__card-list{
    margin-bottom: 20px;
  }
  &__card-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0 6px;
    border-bottom: 1px solid rgba($gray, .1);
  }
  &__card-item-left{
    padding-right: 15px;
  }
  &__card-item-right{
    width: 125px;
  }
  &__card-more{
    font-size: 14px;
    line-height: 17px;
    display: inline-block;
    border-bottom: 1px solid $blue;
    color: $blue;
    margin-bottom: 45px;
  }
  &__card-btn button{
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
    background-color: $blue;
    padding: 17px 53px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
  } 
}

.card{
  &__tabs{
    margin-bottom: 100px;
  }
  &__tabs-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 22px 0;
    background-color: #F0F0F4;
    margin-bottom: 50px;
  }
  &__tab{
    color: rgba($gray, .6);
    &.tab--active{
      background-color: transparent;
      color: rgba($gray, 1);
      border-bottom: 2px solid $blue;
      border-radius: 0;
      padding-bottom: 5px;
    }
  }
  &__top-line{
    margin-bottom: 50px;
  }
  &__label-search{
    font-size: 17px;
    line-height: 20px;
    color: rgba($gray, .7);
    margin-right: 155px;
    
  }
  &__input-search{
    margin-left: 17px;
    background: #F0F0F4;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 9px 37px 9px 17px;
    width: 315px;
    position: relative;
    background-image: url(../images/Search.svg);
    background-repeat: no-repeat;
    background-position: 95% 50%;   
  }
  &__label-pickup{
    font-size: 17px;
    line-height: 20px;
    color: rgba($gray, .7);
    & + .card__label-pickup{
      margin-left: 54px;
    }
  }
  &__list-item{
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid rgba($gray, .1);
    font-size: 16px;
    line-height: 24px;
    color: rgba($gray, .7);
  }
  &__list-itemtitle{
    color: rgba($gray, 1);
    font-size: 20px;
    line-height: 24px;
    border-bottom: none;
  }
  &__list-address{
    width: 220px;
    margin-right: 80px;
  }
  &__list-workhours{
    width: 160px;
    margin-right: 90px;
  }
  &__list-dayclock{
    display: flex;
    justify-content: space-between;
  }
  &__list-avialable{
    width: 140px;
    margin-right: 60px;
  }
  &__list-num{
    width: 105px;

  }
  &__list-btn{
    margin-left: auto;
    & button{
      background: $blue;
      border-radius: 3px;
      border: none;
      outline: none;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.12em;
      color: #fff;
      padding: 10px 40px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

@import"media";